---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Server Side Routing - Practices - HTML Driven Development">
		<main class="container max-w-7xl mx-auto px-2 mt-4 sm:px-6 lg:px-8"><section class="py-2 container"><div class="row py-lg-5"><h1 class="text-center text-5xl font-bold dark:text-white">Server-side Routing</h1><p class="px-8 py-2 dark:text-gray-400">Client-side routing sound more complicated, because it is. Server-side routing has been the standard for a long time, search engines are optimised for webpages that come from the server.</p></div></section></main>
</Layout>
